#NET "clk" LOC = P56 | IOSTANDARD = LVCMOS33; #50mhz clock
#NET "neo_tx_out" LOC = P51 | IOSTANDARD = LVCMOS33;
#NET "sys_rst" LOC = P38 | IOSTANDARD = LVCMOS33;
#NET "ctrlLed[0]" LOC = P134 | IOSTANDARD = LVCMOS33;
#NET "ctrlLed[1]" LOC = P133 | IOSTANDARD = LVCMOS33;
#NET "ctrlLed[2]" LOC = P132 | IOSTANDARD = LVCMOS33;
#NET "ctrlLed[3]" LOC = P131 | IOSTANDARD = LVCMOS33;
#NET "ctrlLed[4]" LOC = P127 | IOSTANDARD = LVCMOS33;