//! **************************************************************************
// Written by: Map P.20131013 on Sat Mar 07 13:45:59 2015
//! **************************************************************************

SCHEMATIC START;
NET
        "mojo_mb/U0/microblaze_I/MicroBlaze_Core_I/Area.Data_Flow_I/PC_Module_I/Using_FPGA.pc_write_I"
        USELOWSKEWLINES;
SCHEMATIC END;

